<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="org.agilecards.configuration.logs.AnsiConsoleAppender">
        <!--<withJansi>true</withJansi>-->
        <encoder>
            <!--<pattern>[%-5p] - %msg%n</pattern>-->
            <pattern>[%highlight(%-5level)] - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="com.memorynotfound" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>